@import 'tailwindcss';
@import 'tailwindcss-intersect';
@plugin "@tailwindcss/typography";

@source '../../app/Filament/';
@source '../../resources/views/filament';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@font-face {
    font-family: 'Neon Retro';
    src:
        url('../fonts/Neonblitz.ttf') format('truetype'),
        url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400;700&display=swap') format('woff2');
    font-display: swap;
}

/* Define custom CSS here that will be extended by Tailwind */
/* Examples below */
@custom-variant dark (
    &:where(
        .dark, .dark *
    )
);

@layer utilities {
    .h-25-vh {
        height: 25vh;
    }
    .h-50-vh {
        height: 50vh;
    }
    .h-75-vh {
        height: 75vh;
    }

    .w-25-vw {
        width: 25vw;
    }
    .w-50-vw {
        width: 50vw;
    }
    .w-75-vw {
        width: 75vw;
    }

    .max-h-25-vh {
        max-height: 25vh;
    }
    .max-h-50-vh {
        max-height: 50vh;
    }
    .max-h-75-vh {
        max-height: 75vh;
    }

    .max-w-25-vw {
        max-width: 25vw;
    }
    .max-w-50-vw {
        max-width: 50vw;
    }
    .max-w-75-vw {
        max-width: 75vw;
    }

    .logo {
        font-family: 'Neon Retro', sans-serif;
        @apply text-3xl;
        @apply tracking-widest;
    }

    .bg-gradient-blue {
        background-image: linear-gradient(
            120deg,
            #1e2b4a,
            #1e2b4a,
            #223c63,
            #223c63,
            #a18ccc,
            #a18ccc,
            #5995aa,
            #5995aa,
            #613bdd,
            #613bdd,
            #223c63,
            #223c63,
            #1e2b4a,
            #1e2b4a
        );
    }

    .animate-shimmering-gradient {
        animation: shimmering-gradient 8s linear infinite;
    }

    @keyframes shimmering-gradient {
        0% {
            background-position: -100% 0;
        }
        100% {
            background-position: 100% 0;
        }
    }

    /* Shimmer Animation Effect */
    .skeleton-loader {
        background: linear-gradient(to right, #7489b6 0%, #ddd 50%, #7489b6 25%);
        background-size: 200% 100%;
        animation: shimmer 1.5s linear infinite;
    }

    @keyframes shimmer {
        0% {
            background-position: -200% 0;
        }
        100% {
            background-position: 200% 0;
        }
    }

    .gradient-gray-1 {
        background-size: 300% 300%;
        animation: animated-gradient 7s ease infinite;
        @apply from-gray-100;
        @apply via-gray-900;
        @apply to-blue-300;
    }

    .gradient-gray-2 {
        background-size: 300% 300%;
        animation: animated-gradient 7s ease infinite;
        @apply from-gray-300/50;
        @apply via-gray-600/75;
        @apply to-blue-600;
    }

    .gradient-gray-3 {
        background-size: 300% 300%;
        animation: animated-gradient 7s ease infinite;
        @apply from-gray-500/75;
        @apply via-gray-300/50;
        @apply to-blue-900;
    }

    @keyframes animated-gradient {
        0%, 100% {
            background-position: 0%;
        }
        50% {
            background-position: 100%;
        }
    }
}
